<nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded pt-0">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['']">Navbar</a>
  <!--[routerLinkActiveOptions]="{exact: true}" para procurar o link exacto sem /.. -->
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li [routerLinkActive]="['active']"  class="nav-item">
        <a class="nav-link" [routerLink]="['/recipes']">Recipes<span class="sr-only">(current)</span></a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link" [routerLink]="['/shoppingList']">Shopping List</a>
      </li>
    </ul>
  </div>
</nav>