<div class="row">
  <div class="col-12 py-2">
        <img [src]="recipe.imagePath" class="d-flex" alt="Generic placeholder image">
  </div>
</div>
<div>
    <h1 class="d-inline">{{recipe.name}}</h1>
    <div class="dropdown d-inline pl-5">
      <button class="btn btn-success dropdown-toggle align-top" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Options
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <a class="dropdown-item" href="#">Add ingredient</a>
        <a class="dropdown-item" href="#">Edit Recipe</a>
        <a class="dropdown-item" href="#">Delete Recipe</a>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-12 pl-3">
    <p [innerHTML]="recipe.description"></p>
  </div>
</div>
<div class="row">
  <div class="col-12 pl-3">
    <p>Ingredients //TODO</p>
  </div>
</div>
