
<img [src]="recipe.imagePath" class="mx-auto d-block my-2 rounded">

<h1 class="d-inline">{{recipe.name}}</h1>
<div class="dropdown d-inline pl-5">
  <button class="btn btn-success dropdown-toggle align-top" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Options
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a (click)="addAllIngredients()"class="dropdown-item" [routerLink]="['/shoppingList']">Add all ingredients</a>
    <a class="dropdown-item" [routerLink]="['edit']">Edit Recipe</a>
    <a class="dropdown-item" (click)="onDelete()" [routerLink]="['/recipes']">Delete Recipe</a>
  </div>
</div>

<p style="white-space: pre-line" [innerHTML]="recipe.description" class="pl-3 pt-2"></p>

<div class="row">
  <div class="col-8">
    <h3 class="mb-3">Instructions:</h3>
    <blockquote *ngFor="let instruction of recipe.instructions" class="blockquote">
      <p style="white-space: pre-line" [innerHTML]="instruction"></p>
    </blockquote>
  </div>
  <div class="col-4 pl-3">
    <h5 class="mb-3">Ingredients:</h5>
    <ul class="list-group">
      <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item justify-content-between">
        <div class="col-9 px-0">
          <h6 class="mb-0">{{ingredient.name}}</h6>
        </div>
        <div class="col-3">
          <span class="badge badge-default badge-pill">{{ingredient.amount}}</span> 
        </div>             
      </li>
    </ul>
  </div>
</div>
