<div class="form-inline">
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div class="input-group-addon">Name</div>
    <input #nameInput type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ingredient">
  </div>

  <div class="input-group mb-2 mr-sm-2 mb-sm-0 col-2">
    <div class="input-group-addon">#</div>
    <input #numberInput type="number" class="form-control" id="numberInput" placeholder="Number">
  </div>
  <button (click)="onSubmit()"  class="btn btn-success">Add</button>
</div>